html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FFCB9C;
}


#Title{
    color: brown;
    text-align: center;
}

#CoverArt {
    border-radius: 90px;
    text-align: center;
}

#Rating{
    color:brown;
    text-align: center;
}

#Trailer{
    background-color: red;
    text-align: center;
}

#button {
    display: inline-block;
    padding: 10px 20px;
    background-color: brown;
    color: white;
    text-align: center;
    text-decoration: none; 
    border-radius: 5px;
    font-size: 16px; 
}

#button:hover {
    background-color: darkkhaki;
}

#Summary {
    text-align: center;
    color: brown;
}

#Actors {
    text-align: center;
    padding-left: 40px;
    color: brown;
}