html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FFCB9C;
}


#Title{
    color: brown;
}

#CoverArt {
    border-radius: 50px;
}

#Rating{
    color:brown;
}

#Trailer{
    background-color: brown;
}

#button {
    display: inline-block;
    padding: 10px 20px;
    background-color: brown;
    width: 100px;
    color: white;
    text-align: center;
    text-decoration: none; 
    border-radius: 5px;
    font-size: 16px; 
    margin-top: 20px;
}

#button:hover {
    background-color: darkkhaki;
}

#Summary {
    color: brown;
}

#Actors {
    padding-left: 40px;
    color: brown;
    list-style-type: square;
}

#flexy{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}